############################
# Global
############################
# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db
Desktop.ini

# Environment / secrets
.env
.env.*
secrets.json

############################
# Frontend (Angular / JS)
############################
# Build output
dist/
out-tsc/
tmp/

node_modules/

# Angular / JS cache
**/.angular/

# Test / coverage
**/coverage/
__screenshots__/

# Misc
.sass-cache/

############################
# Backend (.NET / C#)
############################
# Build artifacts
**/bin/
**/obj/
out/

# User-specific files
*.user
*.suo
*.rsuser

# Test results
TestResults/

# NuGet packages / artifacts
packages/
*.nupkg
*.snupkg
artifacts/
*.deps.json
*.runtimeconfig.dev.json

# Database / temp files
*.mdf
*.ldf
*.bak
*.db

############################
# IDEs / Editors
############################
# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
